parameters:
    parallel:
        maximumNumberOfProcesses: 2
    level: 5
    bootstrapFiles:
        - ../../stubs/glpi_constants.php
        - ../../vendor/autoload.php
    paths:
        - front
        - inc
        - tools
        - .php-cs-fixer.php
        - hook.php
        - setup.php
    scanDirectories:
        - ../../inc
        - ../../src
    stubFiles:
        - ../../stubs/glpi_constants.php
    ignoreErrors:
        - '#Call to static method Error\(\) on an unknown class PluginWebservicesMethodCommon#'
        - '#Constant WEBSERVICES_ERROR_[A-Z]+ not found#'
